.App {
  text-align: center;
  margin: 2rem;
}

.my-city-container {
  padding: 4rem 2rem;
  display: grid;

  justify-content: center;
  align-items: center;
}

.my-city-name {

  color: var(--color-text-secondary);
  font-size: 1.7rem;
  font-weight: 600;
}

.my-city-abbr {
  color: var(--color-text-secondary);
  font-size: 1rem;

}

.my-city-time {
  font-size: 4rem;
  font-weight: 650;
  margin: 1rem 0rem 0.3rem;

}

.world-clock-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0rem;
}

.world-clock-item {
  border: 1px solid var(--color-primary);
  border-radius: 1.2rem;
  background: var(--color-primary);
  box-shadow: 6px 8px 10px -5px rgba(62,84,172,0.83);
  color: var(--color-text-primary);
  text-shadow: 3px 2px 2px rgba(237,237,237,0.1);
  padding: 1.5rem;
}

.world-clock-item:hover {
  background-color: var(--color-primary);
  opacity: 0.9;
}

.world-clock-item-time {
  color: var(--color-bg);
  font-size: 26px;
  font-weight: 650;
  margin: 1.5rem;
}

.world-clock-item-timezone {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem;
}

.world-clock-item-timeDiff {
  font-size: 14px;
  font-weight: 500;
  margin: 1rem;
}

.city-name {
  font-weight: 600;
  font-size: 26px;
  padding: 1rem;
}

.city-label {
  cursor: pointer;
}

.add-btn {
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.add-btn:hover {
  font-size: 0.9rem;
}

.edit-btn {
  background: transparent;
  color: #BFACE2;
  cursor: pointer;
}

input {
  display: grid;
  border: 1px solid var(--color-primary);
  border-radius: 0.3rem;
  color: var(--color-text-secondary);
  height: 1rem;
  margin: 2rem 0.5rem;
  width: 90%;
  padding: 0.7rem;
}

.city-list-container {
  display: grid;
  justify-content: center;
  margin-top: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  padding:0;

}

.city-list-item-div {
  background: #bebebe44;  
  border-radius: 0.2rem;
  padding: 0.7rem 4.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

button {
  border:transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.6rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
}

.footer {
color: var(--color-primary);
padding: 1rem; 
font-size: 0.9rem;
position: absolute;
bottom: 0rem;
right: 0rem;
}

@media screen and (max-width: 1024px) {
 .world-clock-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0rem;
}
}

@media screen and (max-width: 600px) {
 .world-clock-container {
  display: grid;
  grid-template-columns:  1fr;
  grid-gap: 1rem;
  margin: 2rem 0rem;
}
}